.cardContainer {
    height: var(--size-14);
    overflow: hidden;
    background-color: var(--color-bg-canvas);
    box-shadow: var(--shadow-2) ;
    border-radius: var(--radius-3);
    padding: var(--space-5);
    display: flex;
    flex-direction: column;
}
/* .cardImageContainer {} */
/* .cardImage {} */
